<% if(user){ %>
<div class="row">
  <div class="col s12">
    <h5 style="margin-top:20px;">Usuarios disponibles</h5>
    <br />
    <div class="card-panel">
      <table class="responsive-table striped">
        <thead>
          <tr>
              <th data-field="id">ID</th>
              <th data-field="username">Username</th>
              <th data-field="password">Password</th>
              <th data-field="displayname">Nombre</th>
              <th data-field="visitasGitbook">Visitas Gitbook</th>
          </tr>
        </thead>
        <tbody>
        <% for(var i=0; i < data.length; i++) { %>
           <tr>
             <td><%= data[i].id %></td>
             <td><%= data[i].username %></td>
             <td><%= data[i].password %></td>
             <td><%= data[i].displayName %></td>
             <td><%= data[i].visitasGitbook %></td>
             <td><a href="/borrar_users/<%= data[i].id %>">Borrar</a>
           </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>
<hr />

<div class="container">
  <div class="row">
    <h5>Agregar nuevo usuario</h5>
    <br />
       <form class="col s12" action="/registro_return" method="GET">
           <div class="input-field col s4">
             <input name="username" type="text" class="validate">
             <label for="first_name">Username</label>
           </div>
           <div class="input-field col s4">
             <input name="password" type="password" class="validate">
             <label for="password">Password</label>
           </div>
           <div class="input-field col s4">
             <input name="displayName" type="text" class="validate">
             <label for="first_name">displayName</label>
           </div>
           <button type="submit" name="action" class="waves-effect waves-light btn right">Crear</button>
       </form>
  </div>
  <form class="col s12" action="/redirect_login" method="GET">
    <button type="submit" name="action" class="waves-effect waves-light btn right">Ir al home</button>
  </form>
</div>
